
*{ margin: 0; padding: 0;
    box-sizing: border-box;
 }

body{
    background-color: black;
}

 header{
    background-color: rgb(253, 166, 212);
 }

.prueba__nav .prueba__menu {
    display: flex;
     justify-content: space-around;
     align-items: center;
     height: 80px;
     flex-wrap: wrap;
     list-style: none;
}

.prueba__link{
     font-family: 'Courgette', cursive;
     text-decoration: none;
     color: black;
     font-size: 30px;
     transition: all 2s;
    }
 .prueba__link:hover{
    font-size: 40px;
    color: rgb(224, 11, 118);
 }

 .grid__container{
     display: grid;
     grid-template-columns: 20% 60% 20%;
     grid-template-rows: 30% 30% 30% 10%;
     grid-template-areas: 
     "titulo titulo titulo"
     ". logo ."
     ". texto ."
     "footer footer footer"
     ;
     min-height: 100vh;
 }

.prueba__titulo{
    grid-area: titulo;
    text-align: center;   
}

.prueba__titulo h1{
    color: rgb(253, 166, 212);  
    font-size: 80px;
    font-family: 'Courgette', cursive;
    text-align: center;
}

.prueba__imglogo{
    grid-area: logo;
    text-align: center; 
     
}


.prueba__texto {
    grid-area: texto;
}

.prueba__frase{
    font-family: 'Roboto Mono', monospace;     
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.prueba__img{
    width: 150px;
    height: 150px;
    text-align: center;
    transition: all 2s;
}

.prueba__img:hover{
    width: 200px;
    height: 200px;
}

footer{
 grid-area: footer;
 height: 10vh;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

footer a{
    width: 40px;
}

.ig__logo{
    width: 25px;
    height: 25px;
}


.wtsp__logo{
    width: 25px;
    height: 25px;
}

.fb__logo{
    width: 25px;
    height: 25px;
}

/*TAROT*/
.bodyT{
    background-color: black;
}

.gridtarot__container{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 20% 30% 30% 20%;
    grid-template-areas: 
    "titulo titulo frase"
    "texto texto imagen"
    "texto texto imagen"
    "footer footer footer"
    ;
    min-height: 100vh;
}

.tituloT__container{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloT{
    color: rgb(253, 166, 212);  
    font-size: 80px;
    font-family: 'Courgette', cursive;
}

.fraseT__container{
    grid-area: frase;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.fraseT{
    font-family: 'Roboto Mono', monospace;     
    color: white;
    font-size: 12px;
    text-align: center;
}

.textoT__container{
    grid-area: texto;
    display: flex;
    align-items: center;
}
.textoT{
    font-family: 'Roboto Mono', monospace;     
    color: white;
    font-size: 20px;
    text-align: center;  
}

.imgT__container{
    grid-area: imagen;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
}

.imgT {
        width: 200px;
        height: 420;
}

.imgT:hover{
    width: 240px;
    height:460px ;
}

.footerT{
    grid-area: footer;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconoT{
    width: 40px;
}

/*
.carousel-inner > .item > img { margin: 0 auto; }


/*ASTROLOGIA*/  /*

#astro__grilla {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "picture picture picture"
    "text text text"
    "footer footer footer";
    grid-template-rows: 10% 30% auto auto 10%;
    grid-template-columns: 10% auto 10%;
    row-gap: 10px;
    column-gap: 10px;
    height: 100vh;
    margin: 0;
}

header.astro__navbar{
grid-area: header;
}

div.astro__container{
    grid-area: main;

}
picture.imagen__ciclo{
    grid-area: picture;
}
section.content__astro{
    grid-area: text;
}



.nav__astro {
    background-image: linear-gradient(to left, rgb(75, 11, 75), rgb(155, 90, 106));        /*NAVEGADOR ASTRO*/ /*
    overflow: hidden;
    height: 50px;
    padding-top: 15px;
}

.link__astro{                
    display: inline;
    font-size: 40px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 200;
}

.link__astro a {
     text-decoration: none;
     margin: 10px 40px 10px 120px;
     text-align: right;
     color: rgb(248, 156, 123); 
     
 }
 
 .astro__fondo {
            background-color: black;
 }

 .title__astro {
    text-align: center;



    
 }
 
 .astro__style {
    color: rgb(250, 140, 100);  
    font-size: 150px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    font-weight: 100;
 }

 .ciclo__lunar {
    width: 280px;
    height: 500px;
    margin: 10px 300px 20px 500px;
}

.astro__text {
    font-family: 'Arima Madurai', cursive;     /* PARRAFOS TAROT*/ /*
    color: antiquewhite;
    font-size: 25px;
    font-weight: 10;
    width: 800px;
    height: 200px;
    margin: 20px 20px 80px 250px;
   text-align: center;
}

/* PLANTAS MEDICINALES*/ /*

.nav__plantas {
    background-image: linear-gradient(to left, rgb(75, 11, 75), rgb(155, 90, 106));         /*NAVEGADOR PLANTAS*/ /*
    overflow: hidden;
    height: 50px;
    padding-top: 15px;
}

.link__plantas{                
    display: inline;
    font-size: 40px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 200;
}

.link__plantas a {
     text-decoration: none;
     margin: 10px 40px 10px 120px;
     text-align: right;
     color: rgb(248, 156, 123); 
}

.video__plantas {
                 width: 200px;
                 height: 100px ;
}

.title__plantas{
    width: 300px;
    height: 300px;
    margin: 60px 500px 5px 180px;
    text-align: center
 }
 
 .plantas__style {
    color: rgb(250, 140, 100);  
    font-size: 130px;
    font-family: 'Reenie Beanie', cursive;
    text-align: left;
    font-weight: 100;
 }

 .text__plantas{
    font-family: 'Arima Madurai', cursive;     
    color: antiquewhite;
    font-size: 25px;
    font-weight: 10;
    width: 800px;
    height: 200px;
    margin: 20px 300px 80px 20px;
   text-align: left;
 }

 /*CONTACTO*/ /*

 .nav__contact {
    background-image: linear-gradient(to left, rgb(75, 11, 75), rgb(155, 90, 106));         /*NAVEGADOR CONTACTO*/ /*
    overflow: hidden;
    height: 50px;
    padding-top: 15px;
}

.link__contact{                
    display: inline;
    font-size: 40px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 200;
}

.link__contact a {
     text-decoration: none;
     margin: 10px 40px 10px 120px;
     text-align: right;
     color: rgb(248, 156, 123); 
     
 }

 .contact__fondo {
    background-color: black;
}

.title__contact {
width: 100px;
height: 150px;
margin: 50px 500px 5px 440px;
text-align: center
}

.contact__style {
color: rgb(250, 140, 100);  
font-size: 150px;
font-family: 'Reenie Beanie', cursive;
text-align: center;
font-weight: 100;
}

.contact__font {
     font-size: 40px;                                  
     font-family: 'Reenie Beanie', cursive;
     font-weight: 100;
     color: wheat;
     width: 450px;
     height: 60px;
     margin: 5px 600px 5px 5px;
     text-align: left;    
}

/*ESTILOS PRUEBA*/




